aiofiles==24.1.0
aiohappyeyeballs==2.7.1
aiohttp==3.14.3
aiosignal==1.4.0
alibabacloud-credentials==1.0.12
alibabacloud-credentials-api==1.0.1
alibabacloud-fcsandbox20260509==1.6.0
alibabacloud-gateway-spi==0.0.4
alibabacloud-sts20150401==1.2.0
alibabacloud-tea==0.4.3
alibabacloud-tea-openapi==0.4.6
alibabacloud-tea-util==0.3.15
aliyun-python-sdk-core==2.16.1
aliyun-python-sdk-kms==2.16.5
anyio==4.15.1
APScheduler==3.11.3
attrs==26.1.0
bracex==3.0.1
certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.5.2
crcmod==1.7
cryptography==50.0.2
darabonba-core==1.0.9
dockerfile-parse==2.0.1
e2b==2.31.0
frozenlist==1.8.0
h11==0.16.0
h2==4.4.1
hpack==4.2.0
httpcore==1.0.9
httpx==0.28.1
hyperframe==6.1.0
idna==3.20
jmespath==1.1.0
markdown-it-py==4.2.0
mdurl==0.1.2
multidict==6.9.1
oss2==2.19.1
packaging==26.3
propcache==0.5.4
protobuf==7.36.2
pycparser==3.0
pycryptodome==3.23.0
Pygments==2.21.0
python-dateutil==2.9.0.post0
requests==2.34.2
rich==15.0.0
six==1.17.0
typing_extensions==4.16.0
tzlocal==5.4.4
urllib3==2.8.0
wcmatch==10.2.1
websocket-client==1.9.2
yarl==1.25.1
